In [1]:
import pandas as pd
import numpy as np

print(f'pandas version:{pd.__version__}')
print(f'numpy version:{np.__version__}')

pandas version:1.4.1
numpy version:1.19.2

## Series


https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [2]:
s = pd.Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [3]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [4]:
s.values

array([1, 2, 3])

## DataFrame

In [5]:
np.random.seed(0)
df = pd.DataFrame(
    np.random.randint(10,size=(5,3)),
    columns=list('abc')
    )
df

   a  b  c
0  5  0  3
1  3  7  9
2  3  5  2
3  4  7  6
4  8  8  1

In [6]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
df.values

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [8]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

## Series - DataFrame

In [9]:
np.random.seed(0)
df = pd.DataFrame(
    np.random.randint(10,size=(5,3)),
    columns=list('abc')
    )
df

   a  b  c
0  5  0  3
1  3  7  9
2  3  5  2
3  4  7  6
4  8  8  1

In [10]:
# 按列进行拆分，三个 Series
s1 = df['a']
print(type(s1))
s1

<class 'pandas.core.series.Series'>

0    5
1    3
2    3
3    4
4    8
Name: a, dtype: int64

In [11]:
df['b']

0    0
1    7
2    5
3    7
4    8
Name: b, dtype: int64

In [12]:
df['c']

0    3
1    9
2    2
3    6
4    1
Name: c, dtype: int64

In [13]:
# 按行进行拆分，5个 Series

s2 = df.loc[0,:]
print(type(s2))
s2

<class 'pandas.core.series.Series'>

a    5
b    0
c    3
Name: 0, dtype: int64

In [14]:
# 设置行索引 [0,1,2,3,4] 值
df.loc[1,:]

a    3
b    7
c    9
Name: 1, dtype: int64