In [1]:
import pandas as pd
import numpy as np

## Series


https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [2]:
s = pd.Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [3]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [4]:
s.values

array([1, 2, 3])

## DataFrame

In [5]:
np.random.seed(0)
df = pd.DataFrame(
    np.random.randint(10,size=(5,3)),
    columns=list('abc')
    )
df

   a  b  c
0  5  0  3
1  3  7  9
2  3  5  2
3  4  7  6
4  8  8  1

In [6]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
df.values

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [8]:
df.columns

Index(['a', 'b', 'c'], dtype='object')