In [1]:
import pandas as pd
import numpy as np

print(f'pandas version:{pd.__version__}')
print(f'numpy version:{np.__version__}')

pandas version:1.4.1
numpy version:1.22.3

## 01 保存excel

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html

代码中所用的数据文件获取地址：

https://url28.ctfile.com/f/23159928-560938229-153393
（访问密码：2021）

In [2]:
# DataFrame.to_excel(
#     excel_writer,
#     sheet_name="Sheet1",
#     na_rep="",
#     float_format=None,
#     columns=None,
#     header=True,
#     index=True,
#     index_label=None,
#     startrow=0,
#     startcol=0,
#     engine=None,
#     merge_cells=True,
#     encoding=None,
#     inf_rep="inf",
#     verbose=True,
#     freeze_panes=None,
#     storage_options=None,
# )

In [3]:
# demo1
np.random.seed(1)
arr = np.random.randint(10,size=[5,3])
df1 = pd.DataFrame(arr,columns=list('abc'))
df1.to_excel('data/data02-1.xlsx')
df1

   a  b  c
0  5  8  9
1  5  0  0
2  1  7  6
3  9  2  4
4  5  2  4

In [4]:
# demo2,设置索引 index
np.random.seed(1)
arr = np.random.randint(10,size=[5,3])
df1 = pd.DataFrame(arr,columns=list('abc'))
df1.to_excel('data/data02-2.xlsx',index=False)
df1

   a  b  c
0  5  8  9
1  5  0  0
2  1  7  6
3  9  2  4
4  5  2  4

In [5]:
# demo3, 设置 sheet_name
np.random.seed(1)
arr = np.random.randint(10,size=[5,3])
df1 = pd.DataFrame(arr,columns=list('abc'))
df1.to_excel(
    'data/data02-3.xlsx',
    index=False,
    sheet_name='sheet02'
    )
df1

   a  b  c
0  5  8  9
1  5  0  0
2  1  7  6
3  9  2  4
4  5  2  4

In [6]:
# demo4
# 同时保存两个 dataframe 到 excel 的两个sheet 中

np.random.seed(1)
arr = np.random.randint(10,size=[5,3])
df1 = pd.DataFrame(arr,columns=list('abc'))

np.random.seed(2)
arr = np.random.randint(10,size=[7,3])
df2 = pd.DataFrame(arr,columns=list('abc'))

with pd.ExcelWriter('data/data02-4.xlsx') as writer:  
    df1.to_excel(writer, sheet_name='data1')
    df2.to_excel(writer, sheet_name='data2')

In [9]:
# 往已有的excel中添加dataframe
# 将 data02-4.xlsx 复制一份，
# 并重新命名为 data02-5.xlsx
np.random.seed(2)
arr = np.random.randint(10,size=[5,4])
df3 = pd.DataFrame(arr,columns=list('abcd'))

with pd.ExcelWriter('data/data02-5.xlsx',mode='a',engine="openpyxl") as writer:
    df3.to_excel(writer, sheet_name='data3')

## 02《图解Pandas》专题汇总

《图解Pandas》系列已发布的图文汇总如下：

- [《图解Pandas》内容框架介绍](https://mp.weixin.qq.com/s/gh063BUAM90vFhy6ZLaznw)
- [图文01-数据结构介绍](https://mp.weixin.qq.com/s/H9kJf9zJU7ys6esr0DBhHg)
- [图文02-创建数据对象](https://mp.weixin.qq.com/s/tH8bc20DvhA7i8HDlWv0uQ)

考虑到《图解Pandas》系列内容在不断更新过程中，大家可以通过下面的专题来找到最新发布的内容。

[![](https://tva1.sinaimg.cn/large/e6c9d24egy1h01f6wflmkj20go05kjrh.jpg)](https://mp.weixin.qq.com/mp/appmsgalbum?__biz=MzI2NjY5NzI0NA==&action=getalbum&album_id=2293754972943122444#wechat_redirect)

同时考虑到，以后如果文章数量较多（比如超过50篇文章），可能在专题中也不好快速的找到所需要的内容，我会以文章汇总的形式，将《图解Pandas》系列的文章进行手动汇总，并形成 `图解Pandas汇总` 的专题，最新的汇总文章，可以点击下面专题，找到最新的文章即可。

[![](https://tva1.sinaimg.cn/large/e6c9d24egy1h01f6yjzssj20go05kweo.jpg)](https://mp.weixin.qq.com/mp/appmsgalbum?__biz=MzI2NjY5NzI0NA==&action=getalbum&album_id=2293756873331933190#wechat_redirect)